<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Médico</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="form-container">
    <h2>Registro de Médico</h2>
    <form th:action="@{/medicos/registro}" th:object="${medico}" method="post">

        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Por favor corrija los errores:</p>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" th:field="*{nombre}" required>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-message"></span>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" th:field="*{apellido}" required>
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="error-message"></span>
        </div>


        <input type="hidden" name="perfilId" value="2"/>

        <button type="submit" class="btn btn-primary">Registrarme</button>
        <a th:href="@{/login}" class="btn btn-secondary">Volver</a>
    </form>
</div>
</body>
</html>
